/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.12.2014, 16:49:14
    Author     : Ratio
*/
.root {
     -fx-background-image: url("background_d.jpg");
}

.root2{
    -fx-background-image: url("classInfo.jpg");
}
.button {
    -fx-background-color:#3c3c3c;
    -fx-font-family:"Times New Roman", Times, serif;
    -fx-text-fill:#12ba68;
    -fx-border-width: 2;
    -fx-border-color:#12ba68;
    -fx-font-size: 14;
        
}
.button:hover {
    -fx-border-width: 4;
    -fx-border-color:#53dc9a;
}

.label{
    -fx-font-family:"Times New Roman", Times, serif;
    -fx-text-fill:#12ba68;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.combo-box .list-cell {
    -fx-background-color:#3c3c3c;
    -fx-font-family:"Times New Roman", Times, serif;
    -fx-text-fill:#12ba68;
    
}
.combo-box-base{
    -fx-background-color:#3c3c3c;
}

.combo-box-popup .list-view {
    -fx-background-color:#3c3c3c;
    
}
.combo-box .list-cell:hover{
    -fx-background-color:#cdcdcd;
}
.combo-box-base:hover{
    -fx-padding: 1;
}

.firstClassButton{
    -fx-graphic: url("1.jpg");
    -fx-background-color:#3c3c3c;
        
        
}
.firstClassButton:selected{
    -fx-graphic: url("1_s.jpg");

}


.secondClassButton{
    -fx-graphic: url("2.jpg");
    -fx-background-color:#3c3c3c;
        
}
.secondClassButton:selected{
    -fx-graphic: url("2_s.jpg");

}

.thirdClassButton{
    -fx-graphic: url("3.jpg"); 
    -fx-background-color:#3c3c3c;
        
}
.thirdClassButton:selected{
    -fx-graphic: url("3_s.jpg")
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #12ba68;
}

.check-box{
    -fx-text-fill:#12ba68;
}

.textarea{
    -fx-background-color:#cdcdcd;
    -fx-font-family:"Times New Roman", Times, serif;
    -fx-text-fill:#12ba68;
}

.textfield{
    -fx-background-color:#cdcdcd;
    -fx-font-family:"Times New Roman", Times, serif;
    -fx-text-fill:#12ba68;
    
}

.musicbutton{
    -fx-background-image:url("speaker.jpg");
}
.joululabel{
    -fx-font-family:"Times New Roman", Times, serif;
    -fx-text-fill:#12ba68;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #828282;
    -fx-text-fill: #12ba68;
}

.list-cell:even { 
    -fx-background-color: #d6e0e0;
}

.list-cell:filled:hover {
    -fx-background-color:#cdcdcd ;
    -fx-text-fill: #12ba68;
}

.list-cell{
    -fx-text-fill: #12ba68;
}